* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}





/* Hero Section */
.hero {
    height: 100vh;
    background-image: url(koncert1.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    animation: fadeIn 1.5s ease-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}





.hero-content h1 {
    font-size: 4rem;
    color: #fcfcfc;
    text-shadow: 3px 4px  #121212;
    margin-bottom: 20px;
    animation: fadeInUp 2s ease-out;
}


@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}







.hero-content p {
    font-family:arial rounded mt;
    font-size: x-large;
    color: #ddd;
    margin-bottom: 20px;
    text-shadow: 2px 4px 13px  #000000;
    margin-bottom: 20px;
}

.cta-button {
    background-color: #eb0f12;
    color: white;
    border: none;
    padding: 15px 25px;
    font-family: arial rounded mt;
    color: black;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #990003;
    color: white;
}





/*  Details Section */
.details {
    padding: 50px;
    background-color: #1f1f1f;
    text-align: center;
}

.details h2 {
    font-size: 3rem;
    margin-bottom: 30px;
    color: #d80303;
    text-shadow: 2px 2px  rgb(0, 0, 0);
}

.details-content p {
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: white;
}






.faq {
    padding: 50px;
    background-color: #02020a;
}

.faq h2 {
    font-size: 2.5rem;
    color: #dd0509e0;
    margin-bottom: 30px;
    text-align: center;
}

.faq-item {
    margin-bottom: 20px;
}

.faq-item h3 {
    font-size: 1.8rem;
    color: #fff;
}

.faq-item p {
    font-size: 1.2rem;
    color: #ccc;
}






/* Footer */
.footer {
    padding: 20px;
    background-color: #000000;
    text-align: center;
}

.footer p {
    color: #888;
    font-size: 1rem;
}






/* Mobile Responsiveness */
@media (max-width: 768px) {
    .hero-content h1 {
        font-size: 3rem;
    }

    .cta-button {
        padding: 12px 20px;
    }

    .details-content p, .faq-item p {
        font-size: 1rem;
    }

    .faq-item h3 {
        font-size: 1.5rem;
    }
}
